.headerPanel {
	width: 100%;
	float:left;
	padding: 10px;
	background:#FFF url(../images/backHeader.png);
}

.panelL {
	width:100%;
}

.panelL img {
	width:	450px;
	height: 74px;
	margin: 10px;
	background:#FFF;
	padding:6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 0 5px rgba(0, 0, 0, .35);
}

.panelL h3{
	float:right;
	font-size:19px;
	margin-right:70px;
	margin-top:25px;
	background:#FFF;
	padding:5px;

	
}


/* =====================================================================================
   SubNav
   ===================================================================================== */
.subnav {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #e5e5e5;
	background-color: #DA2128;
}

.subnav .nav {
	margin-bottom: 0;
	margin: 0;
}

.subnav .nav>li>a {
	margin: 0;
	padding-top: 11px;
	height: 21px;
	margin-left: 25px;
	border-left: 2px solid rgba(50, 65, 228, 0.11) -webkit-border-radius:  0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
	font: bold 0.85em Arial;
	text-shadow: rgba(128, 128, 128, 0.86) 0 1px;
}

.subnav .nav>li>a:hover {
	background-color: #35A346;
	color: #fff;
}

.subnav .nav>.active>a,.subnav .nav>.active>a:hover {
	padding-left: 13px;
	background-color: #08D;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
}

.subnav .nav>.active>a .caret,.subnav .nav>.active>a:hover .caret {
	border-top-color: #777;
}

.subnav .nav>li:first-child>a,.subnav .nav>li:first-child>a:hover {
	border-left: 0;
	padding-left: 12px;
}

.subnav .nav>li:last-child>a {
	border-right: 0;
}

.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.subnav .pull-right {
	margin-right:20px;
	
}

/* =====================================================================================
   Wrapper & Home Container
   ===================================================================================== */

.wrapper{
	padding:10px;
	min-height:900px;

}

.home-container{
	padding:10px;
	margin-top:20px;
	background:#DA2128; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0 50px #1a1a1a;
	-moz-box-shadow: 0px 0 50px #1a1a1a;
	box-shadow: 0px 0 50px #1a1a1a;	

}

form { 
    float: none;
    border: 1px solid #ddd; 
    padding: 30px 40px 20px 40px; 
    margin:auto;
    width: 857px;
    background: #fff;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0px 0 50px #1A1A1A;
	-moz-box-shadow: 0px 0 50px #1A1A1A;
	box-shadow: 0px 0 50px #1A1A1A;
}

#myData { 
    float: none;
    border: 1px solid #ddd; 
    padding: 30px 40px 20px 40px; 
    margin-top:75px;
    margin-left:auto;
    margin-right:auto;
    width: 857px;
    background: #fff;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0px 0 50px #1A1A1A;
	-moz-box-shadow: 0px 0 50px #1A1A1A;
	box-shadow: 0px 0 50px #1A1A1A;
	
	margin: 0;
	word-wrap: break-word;
}

.about-well{
	background:none;
	 -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color:#DA2128;
	-webkit-box-shadow: 0px 0 1px #1A1A1A;
	-moz-box-shadow: 0px 0 1px #1A1A1A;
	box-shadow: 0px 0 1px #1A1A1A;
	color:#DA2128;
}