<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> 	   <html class="no-js"> <![endif]-->
<html>

<head th:substituteby="template/header :: header" >
    <title>Mateusz Wesołowski - strona domowa</title>


</head>

<body>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<header th:substituteby="template/header :: headerBody" >

</header>

<div th:substituteby="template/navigation :: navigation" >

</div>

<div class="wrapper" >
	<div class="container home-container">
	      <div id="myData">
	        	<div id="alert">
	        	
	        </div>
			
			<h1>Wszystkie podstrony</h1>
			<table id="table" class="table" th:fragment="subpages">
				<thead>
					<th>Nazwa</th>
					<th>Przeglądaj</th>
					<th>Edytuj</th>
					<th>Usuń</th>
				</thead>
				<tbody>
					
				        <tr th:each="subpage: ${subpageList}">
							<td th:text="${subpage.tytul}" />
							<td><a th:href="@{'/subpages/' + ${subpage.id} }" >Przeglądaj</a></td>
							<td><a th:href="@{'/subpages/' + ${subpage.id} + '/edit' }" 
								>Edytuj</a></td>
							<td><a class="deleteAction" th:value="${subpage.id}" onclick="ajaxDestroySubpage(this)" href="#"
							>Usuń</a></td>
				        </tr>
				</tbody>
			</table>

        	</div>
			
    </div>
</div>

</body>

</html>
