<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> 	   <html class="no-js"> <![endif]-->
<html>

<head th:substituteby="template/header :: header" >
    <title>Mateusz Wesołowski - strona domowa</title>


</head>

<body>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<header th:substituteby="template/header :: headerBody" >

</header>

<div th:substituteby="template/navigation :: navigation" >

</div>

<div class="wrapper" >
	<div class="container home-container">
	      <div id="myData">
				<div th:each="article: ${articles}" id="post-wrapper">
		        		<h2 class="entry-title">
		        			<a th:href="@{'/articles/' + ${article.id} }"
		        			   th:text="${article.tytulArtykulu}"/>
		        		</h2>
		        		<ul class="breadcrumb">
		        			<li>
		        				Autor: (autor_wpisu)
		        				<span class="divider">|</span>
		        			</li>
		        			
		        			<li th:text="'Kategoria: ' + ${article.kategoria.nazwa}" />
	        				
	        				<li>
	        			
	        					<span class="divider">|</span>
	        				</li>
		        			
		        			<li th:text="${#dates.format(article.dataArtykulu,'yyyy-MM-dd')}"></li>
		        			
		        			<li>
		        				<span class="divider">|</span>
		        				<a href="#">(ile_komentarzy)</a>
		        			</li>
		        			
		        			
		        		</ul>
		        		<p th:text="${article.wprowadzenie}" />
	
		        	<hr />
		       </div>
			</div>
			
    </div>
</div>

</body>

</html>
