<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> 	   <html class="no-js"> <![endif]-->
<html>

<head th:substituteby="template/header :: header" >
    <title>Mateusz Wesołowski - strona domowa</title>


</head>

<body>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<header th:substituteby="template/header :: headerBody" >

</header>

<div th:substituteby="template/navigation :: navigation" >

</div>

<div class="wrapper" >
	<div class="container home-container">
	      <div id="myData">
	        	<div id="post-wrapper">
	        		<h2 class="entry-title">
	        			<a th:href="@{'/subpage/' + ${subpage.id} }" 
	        				th:text="${subpage.tytul}" />
	        		</h2>

	        		<p th:text="${subpage.zawartosc}" />
	        	<hr />
	        	</div>

        	</div>
			
    </div>
</div>

</body>

</html>
