<!DOCTYPE html>

<html>

<head th:fragment="header">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Strona domowa Mateusza Wesołowskiego" />
    <meta name="viewport" content="width=device-width" />
    
    <title>Mateusz Wesołowski - strona domowa</title>

    <link href="../resources/css/main.css"
        th:href="@{/resources/css/main.css}" rel="stylesheet"/>
        
    <link href="../resources/css/bootstrap-responsive.min.css"
        th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
    
    <link href="../resources/css/bootstrap.min.css"
        th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="../resources/css/style.css"
        th:href="@{/resources/css/style.css}" rel="stylesheet"/>
        
	<script src="../resources/js/modernizr-2.6.2.min.js"
        th:src="@{/resources/js/modernizr-2.6.2.min.js}" />

    <script src="../resources/js/jquery-1.9.1.min.js"
        th:src="@{/resources/js/jquery-1.9.1.min.js}" />
              
    <script src="../resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}" />
        
    <script src="../resources/js/commons.js"
        th:src="@{/resources/js/commons.js}" />
        
	<script src="../resources/js/bootbox.min.js"
        th:src="@{/resources/js/bootbox.min.js}" />
        
       <script src="../resources/js/tinymce/tinymce.min.js"
        th:src="@{/resources/js/tinymce/tinymce.min.js}" />
                


</head>

<body>
	
	<header th:fragment="headerBody">
        	<div id="headerPanel" class="headerPanel">
        		<div class="panelL">
        			<img src="../resources/images/logoSmall.png"/>
					<h3>Mateusz Wesołowski - o programowaniu i nie tylko</h3>
        		</div>
        	</div>
    </header>
</body>

</html>
