<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Mateusz Wesołowski - strona domowa</title>
</head>

<body>
	<div class="subnav" th:fragment="navigation">
		<ul class="nav nav-pills">
			<li><a href="../index.html" th:href="@{/}">Strona główna</a></li>
			<!-- menu rozwijane po kliknieciu -->
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Artykuły</a>
				
				<ul style="
				margin-left: 24px; 
				border-radius: 0px 0px 0px 0px; 
				padding-top: 0px; 
				border-width: 0px; 
				padding-bottom: 0px;" 
				class="nav nav-pills dropdown-menu">

					<li class="subnav" style="border-width: 0px;"><a href="../articles/addOrUpdateArticle.html" 
					th:href="@{/articles/new}" style="margin-left: 0px;">Dodaj artykuł</a></li>
					<li class="subnav" style="border-width: 0px;"><a href="../articles/browseArticles.html" th:href="@{/articles}" style="margin-left: 0px;">Przeglądaj artykuły</a>
					</li>
				</ul>
			</li>
			<!-- menu rozwijane po kliknieciu -->
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Podstrony</a>
				
				<ul style="
				margin-left: 24px; 
				border-radius: 0px 0px 0px 0px; 
				padding-top: 0px; 
				border-width: 0px; 
				padding-bottom: 0px;" 
				class="nav nav-pills dropdown-menu">

					<li class="subnav" style="border-width: 0px;"><a href="../subpages/addOrUpdateSubpage.html" 
					th:href="@{/subpages/new}" style="margin-left: 0px;">Dodaj podstronę</a></li>
					<li class="subnav" style="border-width: 0px;"><a href="../subpages/browseSubpages.html" th:href="@{/subpages}" style="margin-left: 0px;">Przeglądaj podstrony</a>
					</li>
				</ul>
			</li>
			<!-- menu rozwijane po kliknieciu -->
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorie</a>
				
				<ul style="
				margin-left: 24px; 
				border-radius: 0px 0px 0px 0px; 
				padding-top: 0px; 
				border-width: 0px; 
				padding-bottom: 0px;" 
				class="nav nav-pills dropdown-menu">

					<li class="subnav" style="border-width: 0px;"><a href="../categories/addOrUpdateCategory.html" 
					th:href="@{/categories/new}" style="margin-left: 0px;">Dodaj kategorię</a></li>
					<li class="subnav" style="border-width: 0px;"><a href="../categories/browseCategories.html" th:href="@{/categories}" style="margin-left: 0px;">Przeglądaj kategorie</a>
					</li>
				</ul>
			</li>
			<li><a href="../admin/index.html" th:href="@{/admin}">Panel administratora</a></li>	
				
			<li style="float: right;">
					<ul class="nav nav-pills pull-right">
						<li><a href="#">O mnie</a></li>
						<li><a href="#">Kontakt</a></li>
					</ul>
				</li>
		</ul>
	</div>
</body>

</html>
