<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> 	   <html class="no-js"> <![endif]-->
<html>

<head th:substituteby="template/header :: header">
    <title>Mateusz Wesołowski - strona domowa</title>

	
</head>

<body>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<header th:substituteby="template/header :: headerBody" >

</header>

<div th:substituteby="template/navigation :: navigation" >

</div>

<div class="wrapper" >
	<div class="container home-container">
	      <form th:object="${article}" th:action="${article.id == 0} ? @{/articles/} : @{/articles/} + ${article.id}"  th:method="${action =='new'} ? 'post':'put'">

			<div class="row-fluid">
				<div class="alert alert-success" th:if="${success == true} and ${action == 'new'} ">
	        		Artykuł dodany pomyślnie do bazy danych.
	        	</div>
	        	<div class="alert alert-success" th:if="${success == true} and ${action == 'edit'} ">
	        		Artykuł - pomyślnie zapisano zmiany.
	        	</div>
				
					<h1 th:if="${action == 'new'}" >Dodaj artykuł</h1>
					<h1 th:if="${action == 'edit'}" >Edytuj artykuł</h1>
					<fieldset id="article-fieldset">
						<label for="kategoria">Kategoria</label>
						<select th:field="*{kategoria.id}" id="kategoria">
						  <option th:if="${article.kategoria.id}" selected="selected" th:value="${article.kategoria.id}" th:inline="text">[[${article.kategoria.nazwa}]]</option>
						  <option th:if="${action == 'new'}" selected="selected" value="default" >Wybierz kategorię</option>
						  <option th:each="category: ${categoryList}" 
						  		  th:value="${category.id}"
						  		  th:text="${category.nazwa}"/>
						</select>

						<div class="alert alert-error" th:if="${#fields.hasErrors('kategoria')}" th:errors="*{kategoria}">
	        	
	        			</div>
	        			
						<label for="tytulArtykulu">Tytuł artykułu (max. 150 znaków): <span class="required">*</span></label> 
						<input type="text" th:field="*{tytulArtykulu}" id="tytul" style="width: 600px;" onkeyup="countCharInField(this)" maxlength="150"/>
						 Pozostało: <span id="tytulPozostalo">150</span> znaków
						 <div class="alert alert-error" th:if="${#fields.hasErrors('tytulArtykulu')}" th:errors="*{tytulArtykulu}">
	        	
	        			</div>
						 
						
						<label for="wprowadzenie">Wprowadzenie (max. 255 znaków):</label>
						<textarea th:field="*{wprowadzenie}" id="wprowadzenie" style="resize: none; width: 600px; height: 200px" maxlength="255" onkeyup="countCharInField(this)"></textarea>
						Pozostało: <span id="wprowadzeniePozostalo">255</span> znaków
						<div class="alert alert-error" th:if="${#fields.hasErrors('wprowadzenie')}" th:errors="*{wprowadzenie}">
	        	
	        			</div>
						
						<label for="tresc">Treść artykułu:</label>
						<textarea class="mceEditor" id="tresc" th:field="*{tresc}" style="resize: none; width: 600px; height: 200px"></textarea>
						<div class="alert alert-error" th:if="${#fields.hasErrors('tresc')}" th:errors="*{tresc}">
	        	
	        			</div>
						
						<button type="submit" class="submit btn" name="submit" style="display: block;">Wyślij</button>
						</fieldset>
					

				</div>
			</form>
			
    </div>
</div>
<script>
tinymce.init({
	mode : "specific_textareas",
	editor_selector : "mceEditor",
    plugins: [
              "advlist autolink lists link image charmap print preview anchor",
              "searchreplace visualblocks code fullscreen",
              "insertdatetime media table contextmenu paste textcolor"
              
          ]

 });</script>

</body>

</html>
